<div class="page">


<%=@message%>
  <% if @query %>
  <h1>Your Report</h1>


    <h4 class='subheader'>Results found: <%= @results_found.count %></h4>
    <%= render partial: 'hit', collection: @results_found, as: :hit %>

<% end %>


</div>


