<div class="page">

<%=@message%>
<h1>Your Profile Information Report</h1>
<h4 class='subheader'>Results found: <%= @results_found.count %></h4>

<%= render partial: 'hit', collection: @usersearch.hits, as: :hit %>
</div>



<!-- in css
.flag {
  display: none;
}
.page { 
  .flag {
    display: inline-block;
  }
}

 -->