<div class="patrol-search-page">



  <div class="column large-9">
    <%= render 'results' if @results_found %>
  </div>

  <div class="column large-3">
    <%= render 'search_queries/index' %>
  </div>

</div>



