<div class="patrol-search-page">

<h1> Adding flag iconx </h1>
<h1> Adding flag iconx </h1>

  <div class="column large-9">
    <%= render 'results' if @results_found %>
  </div>

  <div class="column large-3">
    <%= render 'search_queries/index' %>
  </div>

</div>



