<h1>Set your search query</h1>

<%= render partial: 'form', locals: { search_query: @search_query} %>
<br />
<<<<<<< HEAD
<%= link_to 'Back', home_path %>
=======
<%= link_to 'Back', home_path %>
>>>>>>> upstream/master
