<header>
	<p id="logo"><%= link_to 'To Catch A Troll', url: '/' %></p>

	<nav>
		<ul>
			<li id="nav-menu"><%= link_to 'Search', search_path %></li>
			<li id="nav-menu"><%= link_to 'Scraper', scrapers_path %></li>
			<% if user_signed_in? %>
		  <li id="nav-menu"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
		  <% else %>
		  <li id="nav-menu"> </li>
		  <% end %>
		</ul>
	</nav>
</header>