<header>
<% if user_signed_in? %>
	<nav>
		<ul>
			<div class="panel clearfix">
			<h3><a class='logo link left'> <%= image_tag "Patroll-logo-black-small.png" %></h3>
		  <li><a class='item right'><%= link_to 'Flags', flags_path %></a></li>
		  <li><a class='item right'><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></a></li>
			</div>

		  <% else %>
		  <% end %>
			</li>
		</ul>
	</nav>
</header>

